<body>
  <header>
    <a routerLink="">Menu</a>
    <a routerLink="/login">Login/Registro</a>
    <a routerLink="/public_books">Meus Livros</a>
  </header>

  <main>
    <div class="bookManagement">
      <input type="text" [placeholder]="idPlaceholder" class="input">
      <input type="text" [formControl]="titulo" [placeholder]="titlePlaceholder" class="input">
      <input type="text" [formControl]="autor" [placeholder]="autorPlaceholder" class="input">
      <input type="text" [formControl]="ano" [placeholder]="anoPlaceholder" class="input">
      <input type="text" [formControl]="genero" [placeholder]="generoPlaceholder" class="input">
      <input type="text" [formControl]="isbn" [placeholder]="isbnPlaceholder" class="input">
    </div>
    
    <div class="actions-row">
      <app-add-book-btn text="Editar" (click)="checkNullValues()" (click)="bookMenuAction()"></app-add-book-btn>
      <button (click)="limpar()">Limpar Campos</button>
    </div>

    <h2>{{ warnText }}</h2>
  </main>
</body>