<div class="card book-card shadow-sm p-3 mx-auto">

  <div class="d-flex justify-content-between align-items-start mb-3">

    <h5 class="fw-bold m-0 book-title">{{ book.titulo }}</h5>

    @if (isLogged) {
      <div class="position-relative">
        <button class="btn btn-sm btn-light border" (click)="onClick()">⋮</button>
  
        @if (isClicked) {
            <div class="position-absolute bg-white border rounded shadow p-2" style="right: 0; top: 2.2rem; z-index: 100;">
              @if (hasBook) {
                <button class="dropdown-item" (click)="editarLivro()">Editar</button>
                <button class="dropdown-item text-danger" (click)="deletarLivro()">Deletar</button>
              } @else {
                <button class="dropdown-item" (click)="adicionarLivro()">Adicionar</button>
              }
            </div>
        }
      </div>
    }

  </div>

  <div class="row small">
    <div class="col-6">
      <p class="mb-1"><strong>Autor:</strong> {{ book.autor }}</p>
      <p class="mb-1"><strong>Gênero:</strong> {{ book.genero }}</p>
    </div>

    <div class="col-6">
      <p class="mb-1"><strong>Ano:</strong> {{ book.anoLancamento }}</p>
      <p class="mb-1"><strong>ISBN:</strong> {{ book.isbn }}</p>
    </div>
  </div>

</div>
