<main>
  <header>
    <a routerLink="/login">Login</a>
    <a routerLink="/signin">Registro</a>
    <a routerLink="/public_books">Listagem de Livros</a>
  </header>
  <body>

    <app-search-book></app-search-book>
    <div class="actions-row">
      <app-actions-select (optionChanged)="selected = $event" (isDelete)="isDelete = $event"></app-actions-select>
      <app-add-book-btn [text]="selected" (click)="checkNullValues()" (click)="bookMenuAction()"></app-add-book-btn>
      <button (click)="limpar()">Limpar Campos</button>
    </div>


    @if (selected === 'Deletar') {
      <div class="bookManagement">
        <input type="text" [formControl]="bookId" placeholder="ID do seu livro" class="input">
      </div>
    } @else if (selected === 'Editar') {
    <div class="bookManagement">
      <input type="text" [formControl]="bookId" placeholder="ID do seu livro" class="input">
      <input type="text" [formControl]="titulo" [placeholder]="titlePlaceholder" class="input">
      <input type="text" [formControl]="autor" [placeholder]="autorPlaceholder" class="input">
      <input type="text" [formControl]="ano" [placeholder]="anoPlaceholder" class="input">
      <input type="text" [formControl]="genero" [placeholder]="generoPlaceholder" class="input">
      <input type="text" [formControl]="isbn" [placeholder]="isbnPlaceholder" class="input">

    </div>
    } @else {
      <div class="bookManagement">
        <input type="text" [formControl]="titulo" [placeholder]="titlePlaceholder" class="input">
        <input type="text" [formControl]="autor" [placeholder]="autorPlaceholder" class="input">
        <input type="text" [formControl]="ano" [placeholder]="anoPlaceholder" class="input">
        <input type="text" [formControl]="genero" [placeholder]="generoPlaceholder" class="input">
        <input type="text" [formControl]="isbn" [placeholder]="isbnPlaceholder" class="input">
      </div>
    }

    <app-books-index></app-books-index>
    <h2>Último livro adicionado: </h2>
    <app-book-info-form></app-book-info-form>
  </body>
</main>