// .body {
//   display: flex;
//   justify-content: space-around ;
//   align-items: center;
//   background: #111827;
//   color: white;
//   padding: 12px 40px;
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   border-bottom: 2px solid #38bdf8;
//   font-family: Arial, Helvetica, sans-serif;
//   font-weight: bolder;
//   transition: transform 0.3s ease;

//   a {
//     color: #fff;
//     text-decoration: none;
//     font-weight: 500;
//     transition: 0.2s ease;

//     &:hover {
//       color: #fff;
//       text-decoration: underline;
//       transform: scale(1.05);
//     }
//   }

//   &:hover {
//     transform: scale(1.05);
//   }
// }