.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;

    &:hover {
        background-color: #b02a37;
    }

}