
<body>
  <header>
    <a routerLink="">Menu</a>
    <a routerLink="/signin">Registro</a>
    <a routerLink="/public_books">Listagem de Livros</a>
  </header>

  <main>
    <div class="login">
      <input type="text" [formControl]="emailInput" placeholder="E-mail" id="login_input">
      <input [type]="mostrarSenha ? 'text' : 'password'" [formControl]="passwordInput" placeholder="Senha" id="login_input">
      
      @if (loginError) {
        <p style="color: red">{{ errorMsg }}</p>
      }

      <button type="button" (click)="mostrarSenha = !mostrarSenha">{{ mostrarSenha? 'Ocultar senha' : 'Mostrar senha' }}</button>
      <button (click)="validarUser()">Entrar</button>
      <button routerLink="/signin">Registrar conta</button>
    </div>
  </main>
</body>
