.input {
  width: 580px;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: -10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  &:focus {
    outline: none;
    border-color: #0080ff;
    box-shadow: 0 0 8px rgba(0, 128, 255, 0.5);
    transition: 0.2s ease;
  }
}