<div class="bookInfo">
  <header>
    <h3>{{ book?.titulo }}</h3>

    @if (active) {
      <div class="bookOptions">
        <button (click)="editarLivro()">Editar</button>
        <button (click)="deletarLivro()">Deletar</button>
      </div>
    }

    <button (click)="toggleOptions($event)">⋮</button>
  </header>
  <body>
    <div>
      <p>Autor: {{ book?.autor }}</p>
      <p>Gênero: {{ book?.genero }}</p>
    </div>
    <div>
      <p>Lançamento: {{ book?.anoLancamento }}</p>
      <p>ISBN: {{ book?.isbn }}</p>
    </div>
  </body>
</div>