button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 500px;
    padding: 8px;
    margin-top: 10px;
    background-color: #3333ff;
    color: white;
    border: none;
    border-radius: 6px;
    transition: transform 0.1s ease, background-color 0.1s;

    &:hover {
        background-color: #4a4af8;
        cursor: pointer;
    }

    &:active {
        transform: translateY(3px);
        box-shadow: 0 0 0 #0b5ed7;
        background-color: #6d6dff ;
    }
}